// Animation to fade-in
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
// Animation to grow-in
@keyframes grow-in {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}
// Animation to dropdown-menu
@keyframes dropdown {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: rotateX(1);
    }
}
