$primary-color: #B9C892;
$primary-highlight: #bbd37e;
$primary-active: #CAE488;
$primary-menu-header: #a7b584;
$secondary-color: #9f6841;
$secondary-highlight: #98633d;
$secondary-active: #8A5936;
$link: #7c9a32;
$link-highlight: #8db038;

// Map to colors
$colors: ( 
    primary: $primary-color,
    highlight-primary: $primary-highlight,
    active-primary: $primary-active,
    menu-header: $primary-menu-header,
    accent: $secondary-color,
    highlight-accent: $secondary-highlight,
    active-accent: $secondary-active,
    link: $link,
    highlight-link: $link-highlight
);
