
@mixin breakpoint($screen) {
    
    $screen-size: break-point(#{$screen}-min);

    @media screen and (min-width: #{$screen-size} ) {
        @content;
    }
}

@mixin stepping-into($screen) {

    @if $screen == "desktop-lg" {

        @include breakpoint($screen) {
            @content;
        }
    }
    @else {
        $screen-min: break-point(#{$screen}-min);
        $screen-max: break-point(#{$screen}-max);

        @media screen and (min-width: #{$screen-min}) and (max-width: #{$screen-max}) {
            @content;
        }
    }
}

@mixin mgo-transition($property: all) {
    transition: #{$property} .3s ease-in-out;
}

@mixin mgo-animation($animation: fade-in, $delay: "") {
    animation: #{$animation} .3s ease-in-out #{$delay} 1;
}
